/* START GENERAL STYLES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --black: black;
    --white: white;
    --sky-blue: deepskyblue;
}

body {
    color: var(--black);
    font-family: Arial, Helvetica, sans-serif
}

h2 {
    color: var(--black);
}
/* END GENERAL STYLES */

/* HEADER STYLES BEGIN */
header {
    padding: 20px 35px;
    color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-size: cover;
    background-position: center center;
    background-color: var(--sky-blue);
}

header div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

header div .myPhoto {
    background-image: url("../images/headShot.png");
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center center;
}

header h1 {
    text-align: center;
}

header nav {
    margin: 10px 0px;
}

header a {
    text-decoration: none;
    color: var(--black);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

header nav ul li {
    margin: 29px 0px;
}

header nav ul li a {
    padding: 10px 15px;
    margin: 0px 0px;
}

header nav ul li a:hover {
    color: var(--white);
}
/* HEADER STYLES END */

/* SECTION STYLES START */
section {
    margin: 30px 0px;
}

section h2 {
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
    border-color: var(--black);
}
/* SECTION STYLES END */

/* ABOUT ME STYLES START */
.aboutMe p {
    line-height: 1.7;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
}
/* ABOUT ME STYLES END */

/* PROJECTS STYLES START */
.projects {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
}

.project {
    margin: 25px;
    width: 500px;
    background-color: var(--sky-blue);
    flex: 0 0 40%;
}

#firstProject {
    flex: 0 0 60%
}

.projectImg {
    height: 150px;
    background-size: cover;
    background-position: center center;
}

.projectImg:hover {
    transform: scale(1.05);
}

.projectImg1 {
    background-image: url("../images/runbuddy.jpg");
}

.projectImg2 {
    background-image: url("../images/runbuddy.jpg");
}

.projectImg3 {
    background-image: url("../images/runbuddy.jpg");
}

.project h3,
.project h4 {
    color: var(--black);
    margin: 10px 15px;
}

.project h4 {
    font-weight: lighter;
}
/* PROJECTS STYLES END */

/* CONTACT STYLES START */
    .contactSection address {
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: large;
    }

    .contactSection a {
        text-decoration: none;
    }
/* CONTACT STYLES END */